@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#main {
    margin-top: 70px;
}

#container {
  width: 100%;
  display: inline-block;
}

nav {
  z-index: 10;

  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &.active {
          color: rgb(82, 184, 247);
        }
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  text-align: center;
}

.material-icons{
  font-family: 'Material Icons' !important;
  color: white;
}

#btnTestApi {
  margin-top: 20px;
  margin-left: 20px;
}


